server/node_modules
server/routes
client_1/node_modules
client_1/bower_components
client_1/dist
client_1/typings
client_1/app/**/*.js
client_1/app/**/*.map
client_2/
client_jspm/
client_redux/dist
client_redux/node_modules
client_redux/bower_components
