<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Ing. Cristian Ramirez</h5>
        <p class="grey-text text-lighten-4">
          Que onda soy CR , tengo 23 años y soy desarrollador Web / Móvil / apasionado por el nuevo mundo móvil , me apasiona el mundo de las tecnologias web,
          mas modernas, como Angular 2 / NodeJS / MongoDB y para moviles NativeScript / Ionic / Meteor.
          <br><br>
          Soy Certificado en Java SE7 y Oracle 11g, anteriormente era apasionado del mundo Oracle, lo sigo siendo, pero me enamorado por completo,
          por el mundo del JavaScript (ES6).
          <br><br>
          Eh desarrollado modulos y sistemas completos para instituciones como Instituto Tecnológico de Morelia, asi como para la UNAM Campus Morelia,
          y hace un par de años comence en el mundo del freelance con clientes independientes de empresas Mexicanas.
        </p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="green-text text-lighten-1" href="https://www.linkedin.com/in/cristian-ramirez-8982177a" target="_blank">{{author}}</a>
    </div>
  </div>
</footer>
