<nav class="grey lighten-3 menu" role="navigation">
   <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">{{logo}}</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down center">
       <li><a href="sass.html">Portafolio</a></li>
       <li><a href="badges.html">About</a></li>
       <li><a href="collapsible.html">Contact</a></li>
       <li><a href="https://github.com/Crizstian/todoApp-Angular-2" target="_blank">{{github}}</a></li>
     </ul>
   </div>
 </nav>
 <!--  -->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">{{title}}</h1>
    <div class="row center">
      <h5 class="header col s12 light">Full-Stack app developed with Angular 2, NodeJS, Restify(ExpressJS) and MongoDB</h5>
      <h5 class="header col s12 light">And Materialize for the front end desing</h5>
    </div>
  </div>
</div>
