<nav class="grey darken-4" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">{{logo}}</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="https://github.com/Crizstian/todoApp-Angular-2" target="_blank">{{github}}</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="https://github.com/Crizstian/todoApp-Angular-2" target="_blank">{{github}}</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<!--  -->
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">{{title}}</h1>
    <div class="row center">
      <h5 class="header col s12 light">Full-Stack app developed with Angular 2, NodeJS, Restify(ExpressJS) and MongoDB</h5>
      <h5 class="header col s12 light">And Materialize for the front end desing</h5>
    </div>
  </div>
</div>
